create database [VehicleApps]
go
USE [VehicleApps]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[EmployeeId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[RequsitionId] [int] NOT NULL,
	[CommntId] [int] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[OrganaizationId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designations]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[OrganaizationId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Designations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[DivisionId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Divisions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[ContactNo] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[LicenceNo] [nvarchar](255) NULL,
	[DepartmentId] [int] NOT NULL,
	[DesignationId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Address1] [nvarchar](255) NULL,
	[Address2] [nvarchar](max) NULL,
	[DivisionId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[ThanaId] [int] NOT NULL,
	[IsDriver] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequsitionId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DriverNo] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Managers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organaizations]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organaizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Organaizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requsitions]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requsitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Form] [nvarchar](max) NULL,
	[To] [nvarchar](max) NULL,
	[JourneyStart] [datetime] NOT NULL,
	[JouneyEnd] [datetime] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Requsitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequsitionStatus]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequsitionStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RequsitionStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thanas]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DistrictId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Thanas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[VehicleTypeId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[VModel] [nvarchar](max) NULL,
	[VRegistrationNo] [nvarchar](max) NULL,
	[VChesisNo] [nvarchar](max) NULL,
	[VCapacity] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 9/17/2018 3:10:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.VehicleTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [OrganaizationId], [IsDeleted]) VALUES (1, N'MoICT', 1, 0)
INSERT [dbo].[Departments] ([Id], [Name], [OrganaizationId], [IsDeleted]) VALUES (2, N'MoEducation', 1, 0)
INSERT [dbo].[Departments] ([Id], [Name], [OrganaizationId], [IsDeleted]) VALUES (3, N'MoHome', 1, 0)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([Id], [Name], [OrganaizationId], [IsDeleted]) VALUES (1, N'Professor', 1, 0)
INSERT [dbo].[Designations] ([Id], [Name], [OrganaizationId], [IsDeleted]) VALUES (2, N'Asst. Professor', 1, 0)
INSERT [dbo].[Designations] ([Id], [Name], [OrganaizationId], [IsDeleted]) VALUES (3, N'Lecturer', 1, 0)
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [Name], [DivisionId], [IsDeleted]) VALUES (1, N'Dhaka', 1, 0)
INSERT [dbo].[Districts] ([Id], [Name], [DivisionId], [IsDeleted]) VALUES (2, N'Munshiganj', 1, 0)
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[Divisions] ON 

INSERT [dbo].[Divisions] ([Id], [Name], [IsDeleted]) VALUES (1, N'Dhaka', 0)
SET IDENTITY_INSERT [dbo].[Divisions] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [ContactNo], [Email], [LicenceNo], [DepartmentId], [DesignationId], [IsDeleted], [Address1], [Address2], [DivisionId], [DistrictId], [ThanaId], [IsDriver]) VALUES (1, N'Mr. A', N'01913456788', N'a@b.com', N'012389899', 2, 1, 0, N'Mirpur', N'Dhaka', 1, 1, 1, 0)
INSERT [dbo].[Employees] ([Id], [Name], [ContactNo], [Email], [LicenceNo], [DepartmentId], [DesignationId], [IsDeleted], [Address1], [Address2], [DivisionId], [DistrictId], [ThanaId], [IsDriver]) VALUES (2, N'Mr. B', N'0191878389', N'b@c.com', N'1323566767', 2, 2, 0, N'Bikrampur', N'Bikrampur', 1, 1, 3, 0)
INSERT [dbo].[Employees] ([Id], [Name], [ContactNo], [Email], [LicenceNo], [DepartmentId], [DesignationId], [IsDeleted], [Address1], [Address2], [DivisionId], [DistrictId], [ThanaId], [IsDriver]) VALUES (3, N'Mr. D1', N'0174354445', N'd1@c.com', N'1367676867678', 2, 4, 0, N'Mirpur', N'Mirpur', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Managers] ON 

INSERT [dbo].[Managers] ([Id], [RequsitionId], [VehicleId], [EmployeeId], [IsDeleted], [DriverNo], [Status]) VALUES (1, 6, 1, 3, 0, NULL, N'Execute')
INSERT [dbo].[Managers] ([Id], [RequsitionId], [VehicleId], [EmployeeId], [IsDeleted], [DriverNo], [Status]) VALUES (2, 8, 2, 4, 0, NULL, N'Execute')
SET IDENTITY_INSERT [dbo].[Managers] OFF
SET IDENTITY_INSERT [dbo].[Organaizations] ON 

INSERT [dbo].[Organaizations] ([Id], [Name], [IsDeleted], [Description]) VALUES (1, N'BD Govt.', 0, N'Peoples republic of Bangladesh.')
SET IDENTITY_INSERT [dbo].[Organaizations] OFF
SET IDENTITY_INSERT [dbo].[Requsitions] ON 

INSERT [dbo].[Requsitions] ([Id], [Form], [To], [JourneyStart], [JouneyEnd], [EmployeeId], [IsDeleted], [Description], [Status]) VALUES (6, N'BCC', N'Dhk Airport', CAST(N'2018-09-11T15:00:00.000' AS DateTime), CAST(N'2018-09-13T20:07:00.000' AS DateTime), 1, 0, N'03 persons.', N'Complete')
INSERT [dbo].[Requsitions] ([Id], [Form], [To], [JourneyStart], [JouneyEnd], [EmployeeId], [IsDeleted], [Description], [Status]) VALUES (8, N'BCC', N'Gulistan', CAST(N'2018-09-12T08:00:00.000' AS DateTime), CAST(N'2018-09-12T17:00:00.000' AS DateTime), 2, 0, N'05 persons.', N'Complete')
INSERT [dbo].[Requsitions] ([Id], [Form], [To], [JourneyStart], [JouneyEnd], [EmployeeId], [IsDeleted], [Description], [Status]) VALUES (10, N'BCC', N'Gulistan', CAST(N'2018-09-11T08:00:00.000' AS DateTime), CAST(N'2018-09-12T17:00:00.000' AS DateTime), 2, 0, N'05 persons', N'Complete')
SET IDENTITY_INSERT [dbo].[Requsitions] OFF
SET IDENTITY_INSERT [dbo].[Thanas] ON 

INSERT [dbo].[Thanas] ([Id], [Name], [DistrictId], [IsDeleted]) VALUES (1, N'Shah Ali', 1, 0)
INSERT [dbo].[Thanas] ([Id], [Name], [DistrictId], [IsDeleted]) VALUES (2, N'Mirpur', 1, 0)
INSERT [dbo].[Thanas] ([Id], [Name], [DistrictId], [IsDeleted]) VALUES (3, N'Siraj-The-Khan', 2, 0)
SET IDENTITY_INSERT [dbo].[Thanas] OFF
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([Id], [VehicleName], [Description], [VehicleTypeId], [IsDeleted], [VModel], [VRegistrationNo], [VChesisNo], [VCapacity], [Status]) VALUES (1, N'Tata', N'For Tour', 1, 0, N'Nano', N'N-001', N'C-001', N'3', N'Assigned')
INSERT [dbo].[Vehicles] ([Id], [VehicleName], [Description], [VehicleTypeId], [IsDeleted], [VModel], [VRegistrationNo], [VChesisNo], [VCapacity], [Status]) VALUES (2, N'Toyota', N'For Audit', 2, 0, N'Noha', N'N-002', N'C-002', N'8', N'Assigned')
INSERT [dbo].[Vehicles] ([Id], [VehicleName], [Description], [VehicleTypeId], [IsDeleted], [VModel], [VRegistrationNo], [VChesisNo], [VCapacity], [Status]) VALUES (3, N'Tata Bus', N'For Tour', 3, 0, N'B-001', N'R-003', N'C-003', N'32', NULL)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
SET IDENTITY_INSERT [dbo].[VehicleTypes] ON 

INSERT [dbo].[VehicleTypes] ([Id], [TypeName], [IsDeleted]) VALUES (1, N'Light', 0)
INSERT [dbo].[VehicleTypes] ([Id], [TypeName], [IsDeleted]) VALUES (2, N'Medium', 0)
INSERT [dbo].[VehicleTypes] ([Id], [TypeName], [IsDeleted]) VALUES (3, N'Heavy', 0)
SET IDENTITY_INSERT [dbo].[VehicleTypes] OFF
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [RequsitionId]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [CommntId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [DivisionId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [DistrictId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [ThanaId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [IsDriver]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[VehicleTypes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Comments_CommntId] FOREIGN KEY([CommntId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Comments_CommntId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Requsitions_RequsitionId] FOREIGN KEY([RequsitionId])
REFERENCES [dbo].[Requsitions] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Requsitions_RequsitionId]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Departments_dbo.Organaizations_OrganaizationId] FOREIGN KEY([OrganaizationId])
REFERENCES [dbo].[Organaizations] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_dbo.Departments_dbo.Organaizations_OrganaizationId]
GO
ALTER TABLE [dbo].[Designations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Designations_dbo.Organaizations_OrganaizationId] FOREIGN KEY([OrganaizationId])
REFERENCES [dbo].[Organaizations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Designations] CHECK CONSTRAINT [FK_dbo.Designations_dbo.Organaizations_OrganaizationId]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Districts_dbo.Divisions_DivisionId] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_dbo.Districts_dbo.Divisions_DivisionId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Designations_DesignationId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Divisions_DivisionId] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Divisions_DivisionId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Thanas_ThanaId] FOREIGN KEY([ThanaId])
REFERENCES [dbo].[Thanas] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Thanas_ThanaId]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Managers_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_dbo.Managers_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Managers_dbo.Requsitions_RequsitionId] FOREIGN KEY([RequsitionId])
REFERENCES [dbo].[Requsitions] ([Id])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_dbo.Managers_dbo.Requsitions_RequsitionId]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Managers_dbo.Vehicles_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([Id])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_dbo.Managers_dbo.Vehicles_VehicleId]
GO
ALTER TABLE [dbo].[Requsitions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Requsitions_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Requsitions] CHECK CONSTRAINT [FK_dbo.Requsitions_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Thanas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Thanas] CHECK CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.VehicleTypes_VehicleTypeId] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[VehicleTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.VehicleTypes_VehicleTypeId]
GO
