
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutManager.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="background-color: lightpink;height: 450px">
            <h6 style="padding-top: 150px; text-align: center; font-size: 30px;">
                Wellcome
                <br />
                To
                <br />
                Manager Dashboad
            </h6>
        </div>
    </div>
</div>