body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    background-color: #95A5A6;
    height: 45px;
}
.navbar-brand {
    color: #ffffff;
    
    font-weight: bold;
}
.navbar-brand:hover {
    color: #f0f8ff;
}
.form-control {
    border: 2px solid red;
}
ul>li>a {
    color: #000000 !important;
    text-decoration: none;
    font-size: 18px;
    font-family: lato;
}
.header_top {
    background-color: #DDDDDD;
    height: 30px;
}
.Date_time {
    
}
.Date_time span {
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    color: red;
}
.Login {
    float: right!important;
    margin: 0px;
    padding: 0px;
}
.Login a {
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    text-decoration: none !important;
}
