@using Microsoft.Reporting.WebForms
@using ReportViewerForMvc

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                @if (ViewBag.ReportViewer != null)
                {
                    @Html.ReportViewer(ViewBag.ReportViewer as ReportViewer, new { @class = "report" })
                }
            </div>
        </div>
    </div>
</div>
