@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li><i class="icon ion-ios-person"></i>Hello @User.Identity.GetUserName() !</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon ion-power"></i>Sign Out</a></li>

    }
}
else
{
    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
